<h1>Detalles del Libro</h1>
<div>Nombre: <%= @book.title %> </div>
<div>Autor: <%= @book.author %> </div>
<div>Descripcion: <%= @book.description %> </div>
<div>Fecha de publicacion: <%= @book.publication_date %> </div>
<div>Precio: <%= @book.price %></div>

<%= render "comments" %>